name: Convert Json to CSV

on:
  push:
    paths:
      - "./client/public/locales/*"

# defaults:
#   run:
#     shell: bash

jobs:
  convert-json2csv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Convert Json to CSV
        working-directory: scripts
        run: |
          chmod +x ./json2csv.sh
          sh ./json2csv.sh
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automated Json to CSV
